/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-size: 14px;
	line-height: 140%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: var(--main-black-color);
}
ul,
ol {
	padding: 0;
	margin: 0;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
p {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.desktop-visible {
	display: none !important;
}
.mob-visible {
	display: block;
}
.btn-close-popup {
	display: flex;
	justify-content: flex-end;
}
.btn-close-block {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;

	border-radius: 50%;
	background: var(--bg-color);
	transform: rotate(45deg);

	cursor: pointer;
}
.btn-close-block::after,
.btn-close-block::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 2px;
	background: var(--dark-blue-2-color);
}
.btn-close-block::before {
	transform: rotate(90deg);
}
.props-placeholder::placeholder {
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
	color: var(--grey-blue-3-color);
}
.btn-general {
	display: inline-block;
	padding: 15px 0px;
	max-width: 345px;
	width: 100%;

	font-weight: 600;
	text-align: center;

	border-radius: 82px;
}
.btn-disabled {
	color: var(--main-black-color);
	background: var(--grey-blue-1-color);
}
.btn-deep-blue {
	color: var(--white-color);
	background: var(--dark-blue-2-color);
	cursor: pointer;
}
.btn-search-form {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 50px;
	height: 50px;

	background: var(--dark-blue-2-color);
	border-radius: 50%;
}
.attention-words {
	font-weight: 600;
	color: var(--red-color);
}
.accent-attention-words {
	color: var(--red-color);
}
.accent-words {
	font-weight: 600;
}
.accent-red {
	color: var(--red-color);
}
.accent-black {
	color: var(--main-black-color);
}
.link-color-blue {
	font-weight: 600;
	text-decoration: underline;
	color: var(--dark-blue-3-color);
}
.hover-tile,
.link-hover,
.link-hover-line,
.hover-icon {
	cursor: pointer;
}
.color-gray-2 {
	color: var(--color-gray-2);
}

.link-hover:hover,
.link-hover-line:hover {
	color: var(--grey-blue-3-color);
}
.link-hover:active,
.link-hover-line:active {
	color: var(--main-black-color);
}
