@media (min-width: 320px) {
}
@media (min-width: 375px) {
    .all-funds-content__title {
        min-width: 337px;
        width: auto;
    }
    /* foundations-block */
    .info-unique-docs-photo__block {
        width: 144px;
        height: 233px;
    }
    .arrow-next {
        margin-left: 10px;
    }
    /* about-archive-block */
    .about-archive-description__wrapper .logo-archive-picture__wrapper .logo-img__block {
        min-width: 106px;
        height: 126px;
    }
    .archive-picture__block {
        width: 370px;
        height: 126px;
    }
    /* inventory-content */
    .inventory-count-picture__control {
        margin: 0px 50px;
    }
    .new-arivals__accordion-item-title {
        max-width: 250px;
    }
    .accordion-hint-text__block {
        left: -15px;
    }
    .accordion-hint-text__block::after {
        left: 12px;
    }
    .prices-work-tabs__wrapper {
        grid-template-columns: repeat(3, 310px);
    }
    /* footer */
    .footer-menu__lists {
        max-width: 146px;
    }
}

@media (min-width: 568px) {
    /* search-inventory-form-block */
    .input-year-from__wrapper {
        flex-direction: row;
    }
    .year-input__block {
        margin: 0px 28px 20px 0px;
    }
    .showroom-working-hours__wrapper {
        justify-content: flex-start;
    }
    .showroom-working__days {
        margin-right: 28px;
    }
    .readingroom__tabs {
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, 48%);
    }
    .readingroom__tab {
        margin-bottom: 0;
    }

    .sidebar-tile__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-row-gap: 20px;
        justify-content: space-between;
    }
    .sidebar-requests__link {
        margin-bottom: 0;
    }
    .sidebar-requests-link__block {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-row-gap: 20px;
        justify-content: space-between;
    }
    .sidebar-tile {
        margin-bottom: 0;
    }
    .thematic-requests-accepted-address__block.signup-appointment {
        margin: 0px;
    }
    .thematic-requests-address__list {
        grid-template-columns: 40% 60%;
    }
    .thematic-requests__address.signup-appointment {
        padding: 40px 15px;
    }
    .feedback-form-input__wrapper {
        grid-template-columns: repeat(2, 49%);
    }
    .btn-feedback-form-send-message {
        max-width: 210px;
    }
    .prices-work-tabs__wrapper {
        grid-template-columns: repeat(3, 329px);
        grid-column-gap: 28px;
    }
}
@media (min-width: 576px) {
    .serch-funds-field__result {
        margin-top: auto;
    }
    .moscow-archives-content__wrapper {
        border-top: 1px solid var(--grey-blue-2-color);
    }

    /* showroom__tile */
    .showroom__tile {
        grid-template-areas:
            "img date"
            "img title"
            "img subtitle";
        grid-column-gap: 30px;
    }

    /* show-sort__block  */
    .show-sort__block {
        justify-content: flex-start;
    }
    /* pagination-block */
    .pagination-block {
        justify-content: flex-start;
    }
    .new-arivals__accordion-item-title {
        max-width: 455px;
    }
    .news-timeline-baner__img,
    .showroom-banner__img {
        height: 260px;
    }
    /* footer */
    .footer-menu__wrapper {
        margin: 0 auto;
        max-width: 580px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .logo-img__block {
        min-width: 60px;
        height: 71px;
    }
    .header-content__title {
        font-size: 22px;
        line-height: 28px;
    }
    .news-timeline-baner {
        flex-direction: row;
        justify-content: space-between;
    }
    .news-timeline-baner__img {
        margin-bottom: 0;
    }
    .news-timeline-baner.about-archive-news-page {
        padding: 15px;
    }
    .news-timeline-baner__img,
    .showroom-banner__img {
        height: auto;
    }
    .news-timeline-baner {
        grid-template-columns: repeat(2, 48%);
        grid-row-gap: 0px;
        padding: 40px 0px;
    }
    .short-news__lists.exhibition-one-doc-page {
        grid-template-columns: repeat(2, 48%);
    }
    .showroom-article__img,
    .showroom-article__text-img {
        height: 328px;
    }
    .showroom-content__article-links {
        flex-direction: row;
    }
    .showroom-article-link__tile {
        width: 48%;

        margin-bottom: 0;
    }
    .readingroom-announcement__sublists {
        padding-left: 30px;
    }
    .readingroom__tabs {
        flex-direction: row;
        justify-content: space-between;
    }
    .readingroom__tabs {
        grid-template-columns: repeat(3, 31%);
    }

    /* type-sevice-price__wrapper */
    .header-prices-work__block,
    .type-sevice-price__wrapper {
        display: grid;
        grid-template-columns: 45% 55%;
    }
    .type-sevice-price__wrapper {
        border-top: 1px solid var(--grey-blue-2-color);
    }
    .type-sevice-price__wrapper:first-of-type {
        border-top: none;
    }
    .prices-work-lists__title {
        margin-bottom: 20px;
    }
    .srvice-specifications__price {
        padding-right: 20px;
    }
    .type-srvice-name__title {
        padding: 20px;
    }
    .srvice-spec__block,
    .srvice-spec__block:last-child {
        border: none;
    }
    .type-srvice-specifications {
        padding: 20px 0px;
    }
    .srvice-spec__block {
        padding: 0px 0px 15px;
    }
    .srvice-spec__block:last-child {
        padding: 0;
    }
    .superscript-value__sublists {
        margin: 15px 0px 0px 80px;
    }
    .superscript-value-footnote__wrapper {
        margin-top: 15px;
    }
    .header-incr-coeffi__lists {
        display: grid;
    }
    .header-incr-coeffi__lists,
    .increasing-coefficients__wrapper {
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }
    .incr-coeffi__coeffi,
    .header-incr-coeffi__coefficient {
        text-align: end;
    }
    .incr-coeffi__coeffi {
        padding-right: 60px;
    }
    /* search-funds__block */
    .search-funds__block {
        flex-direction: row;
        align-items: center;
    }
    .search-funds-form__wrapper {
        justify-content: flex-end;
    }
    .search-funds__title {
        margin-bottom: 0;
    }
    .title-page__block.about-archive-history-title {
        align-items: center;
    }

    .input-year-from__wrapper {
        width: auto;
    }
    .year-input__block {
        margin: 0px 20px 0px 0px;
    }
    .search-inventory-form-btn__wrapper {
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .search-inventory-form__btn {
        width: 175px;
        margin-bottom: 0;
    }
    /* foundations-guide-info */
    /* attention-info__description */
    .attention-info__description {
        flex-direction: row;
    }
    .attention-info__text {
        margin-top: 0px;
    }
    .list-donated-funds__block {
        padding-left: 35px;
    }
    /* info-list-donated-funds__block */
    .info-list-donated-funds__wrapper {
        flex-direction: row;
    }
    .info-donated-funds {
        padding-left: 50px;
        width: 100%;
    }
    .info-donated-funds:first-child {
        border-bottom: none;
        border-right: 1px solid var(--grey-blue-2-color);

        height: 100%;
        padding: 0px 50px 0px 0px;

        margin-bottom: 0;
    }
    .sidebar-funds__link {
        width: 48%;
        margin-bottom: 0;
    }
    .archive-history-desc__img {
        max-width: 513px;
        max-height: 360px;
    }
    .archive-normative-doc__tile,
    .archive-bidding-link__tile {
        width: 48%;
    }
    .archive-normative-doc__tile:last-child {
        margin-bottom: 16px;
    }
    .archives-description-img__block {
        flex-direction: column;
    }
    .archives-description-content__block {
        flex-direction: row;
    }
    .moscow-archives-description__text {
        margin-top: 0;
    }
    /* unique-doc-description__tile */
    .unique-doc-description__tile {
        grid-template-areas:
            "top num"
            "top title"
            "top subtitle";
    }
    /* unique-doc-description__tile */
    .unique-doc-tile-number__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .unique-doc-tile__number {
        margin-bottom: 0;
    }
    /* news-block */
    .virtual-museum__block {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .virtual-museum__menu {
        order: 0;
    }
    .desktop-visible {
        display: block !important;
    }
    .mob-visible {
        display: none;
    }
    .virtual-museum__picture {
        width: 357px;
    }
    /* My family */
    .metric-books__block {
        flex-direction: row;
    }
    .metric-books__info,
    .metric-books__search-info {
        width: 50%;
    }
    /* Foundations */
    .foundations-register__wrapper {
        flex-direction: row;
    }
    .foundations-block__info {
        margin-right: 15px;
        margin-bottom: 0;
    }
    .register-block__info {
        margin-left: 15px;
    }
    .info-unique-docs__block {
        flex-direction: row;
        height: 313px;
    }
    .info-unique-docs-block__info {
        width: 51%;
    }
    .info-unique-docs-block__photo {
        width: 50%;
        padding: 30px 20px;
        margin-top: 0px;
    }
    .info-unique-docs__photo {
        justify-content: space-between;
        margin-top: 60px;
    }
    .types-documents__wrapper {
        flex-direction: row;
    }
    .props-documents-tile {
        width: 48%;
    }
    /* About the archive */
    .about-archive-content__wrapper {
        flex-direction: row;
    }
    .about-archive-description__wrapper,
    .about-archive-structure__wrapper {
        width: 50%;
    }
    .about-archive-description__wrapper {
        margin-right: 15px;
        margin-bottom: 0;
    }
    .about-archive-structure__wrapper {
        margin-left: 15px;
    }
    .archive-services__lists {
        flex-wrap: wrap;
        height: 300px;
    }
    .archive-services__link {
        padding: 8px 17px 8px 24px;
        width: 330px;
    }
    /* activity-block  */

    .tab-content__info-block {
        flex-direction: row;
    }
    .description-info__title {
        border-bottom: 1px solid var(--main-black-color);

        margin: 0px 0px 25px;
    }
    /* list-funds__block  */
    .funds-item__number-funds,
    .funds-item__number {
        margin-right: 160px;
    }
    /* comments-block */
    .comments-title__wrapper {
        flex-direction: row;
        align-items: center;
    }
    .comments__title {
        width: auto;
        border-bottom: none;
        padding-bottom: 0;
    }
    .btn-write-comment {
        max-width: 228px;

        margin: 0;
    }
    .how-search-metric-books-content__wrapper.map-moscow {
        padding: 50px 30px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /* inventory-content */
    .inventory-content__wrapper {
        flex-direction: row;
        align-items: initial;

        margin: 20px 0px 50px;
    }
    .inventory-content {
        margin-bottom: 0;
    }

    .inventory-content-picture__block {
        margin-right: 14px;
    }
    .inventory-content-description__block {
        margin-left: 14px;
    }
    .inventory-picture__arrow {
        width: 7px;
        height: 13px;
    }
    /* footer */
    .footer-menu__wrapper {
        margin: 0;
        max-width: 1040px;
    }
}
/*Large devices (desktops, 1024px and up)*/
@media (min-width: 1024px) {
    .prices-work-tabs__wrapper {
        grid-template-columns: repeat(3, 31%);
    }
    /* header */
    .header-top__wrapper {
        padding: 0;
    }
    .header-top-visually-impaired__block {
        margin-right: 37px;
    }
    .visually-impaired__link {
        display: block;
        margin-left: 17px;
    }
    .header-top-address__block {
        display: block;
    }
    .header-top-user-logout__block {
        margin-left: 30px;
    }
    .header-top-user-logout__title {
        display: block;
    }
    .header-search__form {
        display: block;
        margin-top: 30px;
    }
    .mobile-header-search__block {
        display: none;
    }

    /* Breadcrumbs */
    .breadcrumbs-block {
        display: block;
    }
    /* title-page-block */
    .title-page__block {
        margin: 0px 0px 50px;
    }
    .title-page__block {
        flex-direction: row;
    }
    .page__title {
        margin: 0;
    }
    .search-funds-form__wrapper {
        justify-content: flex-end;
    }

    .search-documents-form__wrapper {
        justify-content: flex-end;
    }
    .metric-books__subtitle {
        width: 100%;
        text-align: right;
    }
    .showroom-article__img {
        height: 400px;
    }

    .showroom-article__text {
        display: flex;
        justify-content: space-between;

        margin-bottom: 30px;
    }
    .showroom-article__text-img {
        width: 48%;
        height: auto;

        margin: 0;
    }
    .article__text-wrapper {
        width: 48%;
    }
    .readingroom-content-tile__block {
        display: flex;
        justify-content: space-between;
    }
    .tile__library {
        width: 46%;

        margin-bottom: 0;
    }
    .readingroom-content__tile-wrapper {
        width: 52%;
    }
    .readingroom-tab-content__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .readingroom-tab__content-map {
        margin-top: 0;
    }
    .thematic-requests-accepted-address__block {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 48%);
        grid-column-gap: 28px;
    }
    .thematic-requests-address-map__wrapper.signup-appointment {
        height: 100%;
    }
    .thematic-requests__address.signup-appointment {
        padding-right: 28px;
    }
    /* about-archive-history-description__wrapper */
    .about-archive-history-description__wrapper {
        flex-direction: row;
    }
    .archive-history-img__block {
        margin-bottom: 0;
    }
    .archive-history-desc__img {
        max-width: 345px;
        max-height: 243px;

        margin-right: 30px;
    }
    /* foundations-guide-info */
    .foundations-guide-info__wrapper {
        flex-direction: row;
    }
    /* activity-block  */
    .activity-tab__header,
    .doc-complexes-tab__header {
        border-bottom: 1px solid var(--grey-blue-1-color);
    }
    .activity-tabheader__items,
    .doc-complexes-tabheader__items {
        flex-direction: row;
        height: auto;
        overflow: initial;
        background: none;
    }

    .activity-tabheader__item,
    .doc-complexes-tabheader__item {
        margin: 0px 25px -2px;
        padding-left: 0;
    }
    .activity-tabheader__item:first-of-type,
    .doc-complexes-tabheader__item:first-of-type {
        margin-left: 0;
    }
    .activity-tabheader__item.activity-tabheader__item-active {
        border-bottom: 3px solid var(--red-2-color);
        display: block;
    }
    .doc-complexes-tabheader__item.active {
        border-bottom: 3px solid var(--dark-blue-2-color);
        display: block;
    }
    .tabheader-item-active-value {
        display: none;
    }
    .doc-complexes-tabcontent__wrapper {
        padding-top: 20px;
    }
    .doc-complexes-content__wrapper {
        padding: 0;
        background: none;
    }
    /* Foundations */

    .info-unique-docs-photo__block {
        width: 211px;
        height: 342px;
    }
    /* About the archive */
    .about-archive-services__wrapper {
        padding: 50px 30px;
    }
    .archive-services__lists {
        height: 290px;
    }
    .archive-services__link {
        width: 450px;
    }
    .archive-services-link__title {
        max-width: none;
    }

    .title-section__wrapper {
        margin-bottom: 25px;
    }
    .arrow-link__back,
    .total-number-inventories {
        display: block;
    }
    .info-inventory__list {
        flex-direction: row;

        margin-bottom: 16px;
    }
    .info-inventory__block {
        margin-bottom: 25px;
    }
    .list-title {
        margin-bottom: 0;
    }
    .list-subtitle {
        margin-left: 27px;
    }
    .list-funds__header {
        display: flex;
    }
    .funds-item__number-funds,
    .funds-item__number,
    .funds-item__text {
        margin: 0px;
    }
    .funds__item,
    .funds-item__content {
        flex-wrap: nowrap;
    }
    .funds__item .funds-item-header__title {
        display: none;
    }
    .funds-item__date-funds,
    .funds-item__date {
        width: 100%;
    }
    .funds--page > .funds-item__date-funds,
    .funds--page > .funds-item__date {
        width: 15%;
    }
    .funds-item__number-funds-text,
    .funds-item__name-funds-text,
    .funds-item__date-funds-text {
        margin: 0px;
    }
    .funds-item__name {
        order: 0;
    }
    .funds__item-arrow {
        display: flex;
    }
    /* fuds-accordion */
    .fuds-accardion__header {
        justify-content: flex-start;
    }
    .funds-accordion-item__icon {
        order: 0;

        margin-right: 20px;
    }
    .fuds-accordion-item-body-content {
        padding: 0px;
        background: transparent;
    }
    .bnt-block-accordion {
        display: none;
    }
    /* comments-block */
    .comments-message__wrapper {
        border-top: 1px solid var(--grey-blue-3-opacity);
    }
    .comments-message__wrapper:last-child {
        border-bottom: 1px solid var(--grey-blue-3-opacity);
    }
    .second-message__wrapper {
        margin-left: 70px;
    }
    .third-message__wrapper {
        margin-left: 170px;
    }
    .comments__item {
        flex-direction: row;
    }
    .comments-text-control {
        height: auto;
    }
    .burger-comments-control {
        display: none;
    }
    .comments-text-control__lists {
        position: initial;
        flex-direction: row;
        align-items: center;
        padding: 0;

        opacity: 1;
        visibility: visible;
        pointer-events: initial;

        background: none;
        box-shadow: none;
        width: auto;
        max-width: none;
    }
    .comments-text-control__list {
        margin-bottom: 0;
    }
    .icon-block {
        width: 18px;
        height: 18px;
    }
    .rating-count {
        font-size: 16px;
    }
    .btn-upload-more {
        display: none;
    }
    .contact-us-w-advise__wrapper {
        flex-direction: row;
        align-items: center;
    }
    .contact-us__text,
    .contact-us__tel {
        font-size: 48px;
    }
    .contact-us__text {
        margin-bottom: 0;
    }
    .contact-us__title {
        font-size: 24px;
    }
    /* footer */

    .footer-contact-info__wrapper {
        flex-direction: row;
    }
    .footer-menu__lists {
        margin-right: 0px;
    }

    .footer-contact__email {
        margin: 0px;
    }
    .btn-found-bug {
        max-width: 190px;
    }
    /* Hover block */
    /* .hover-form:hover {
        border: 1px solid var(--dark-blue-3-color);
    } */

    .hover-input:hover {
        border: 1px solid var(--dark-blue-3-color);
    }
    .hover-color:hover,
    .link-hover:hover {
        color: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .activity-tabheader__item.activity-tabheader__item-active:hover {
        color: var(--red-2-color);
    }
    .header-top-visually-impaired__block:hover .hover-icon,
    .header-top-user-logout__block:hover .hover-icon {
        fill: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .link-hover-line:hover {
        color: var(--dark-blue-3-color);
        text-decoration: underline;
        transition: all ease-out 0.1s;
    }
    .arrow-link-hover:hover {
        background: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .arrow-link-hover:hover .arrow-link__img {
        background: url("../../../../img/arrow-link-white.svg") center no-repeat;
    }
    .metric-books__info-link:hover {
        border-bottom: 1px solid var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .btn-hover:hover {
        background: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .btn-tab-hover:hover,
    .news-mark-hover:hover {
        color: var(--main-black-color);
        background: var(--grey-blue-1-color);
        transition: all ease-out 0.2s;
    }
    .hover-tile:hover {
        color: var(--white-color);
        background: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .hover-tile:hover .structural-units__title,
    .hover-tile:hover .structural-units__subtitle,
    .hover-tile:hover .foundations-block__info-title,
    .hover-tile:hover .register-block-info__title,
    .hover-tile:hover .info-unique-docs-block__title,
    .hover-tile:hover .info-unique-docs-block__subtitle,
    .hover-tile:hover .readingroom-tile__title,
    .hover-tile:hover .hover-tile__title,
    .hover-tile:hover .hover-tile__subtitle {
        color: var(--white-color);
        transition: all ease-out 0.2s;
    }

    .check-box-label:hover {
        border: 1px solid var(--dark-blue-3-color);
    }
    .hover-tile:hover .article-tile__arrow {
        background: url("../../../../img/shoroom-link-previous-white.svg") center no-repeat;
    }
    .hover-tile:hover .requests-forms-tile__img,
    .hover-tile:hover .archive-normative-doc__img,
    .hover-tile:hover .archive-tile__img {
        background: url("../img/pdf-download-icon.svg") center no-repeat;
    }

    .hover-tile:hover .useful-links-img__wrapper {
        background: url("../img/useful-links-img/download-book-icon-light.svg") center no-repeat;
        background-color: var(--bg-opacity-1);
    }
    .link__tile-right:hover .article-tile__arrow-right {
        background: url("../../../../img/shoroom-link-next-white.svg") center no-repeat;
    }
    .select-archive__tab.active:hover {
        color: var(--main-black-color);
    }
    .readingroom__tab:hover {
        color: var(--white-color);
        background: var(--dark-blue-3-color);
        transition: all ease-out 0.2s;
    }
    .readingroom__tab.active:hover,
    .prices-work-tab.active:hover {
        background: var(--dark-blue-2-color);
    }
    /* Active block */
    .hover-color:active {
        color: var(--main-black-color);
    }
    .header-top-visually-impaired__block:active .hover-icon,
    .header-top-user-logout__block:active .hover-icon {
        fill: var(--main-black-color);
    }
    .btn-hover:active,
    .arrow-link-hover:active {
        background: var(--main-black-color);
    }
    .btn-tab-hover:active,
    .news-mark-hover:active,
    .hover-tile:active {
        color: var(--white-color);
        background: var(--main-black-color);
    }
    .hover-tile:active .structural-units__title,
    .hover-tile:active .structural-units__subtitle,
    .hover-tile:active .foundations-block__info-title,
    .hover-tile:active .register-block-info__title,
    .hover-tile:active .info-unique-docs-block__title,
    .hover-tile:active .info-unique-docs-block__subtitle {
        color: var(--white-color);
    }
    /* Focus block */
    .hover-input:focus {
        border: 1px solid var(--dark-blue-2-color);
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .section-block {
        flex-direction: row;
    }
    .container {
        max-width: 1200px;
    }
    .payment-receipt-docs__block {
        margin-top: 0;
    }
    .prices-work-lists__title {
        font-size: 36px;
        line-height: 100%;
    }
    .popup__enter-user {
        top: 58px;
    }
    .feedback-form__input {
        max-width: 508px;
    }
    .feedback-form__attach-file {
        flex-direction: row;
    }
    .add-file__block {
        max-width: 348px;
    }
    .btn-attach-file {
        width: 146px;
        margin: 0px 0px 0px 12px;
    }
    .new-arivals__accordion-item-header {
        flex-direction: row;
        align-items: center;
    }
    .new-arivals__accordion-item-title {
        order: 0;
        margin-top: 0;
    }
    .new-arivals__name-fund {
        align-items: center;
    }
    .accordion-hint-text__block {
        left: -70px;
    }
    .accordion-hint-text__block::after {
        left: 70px;
    }
    .new-arivals-item__header-icon {
        position: relative;
        top: initial;
        right: initial;
    }
    .accordion-hint-text-icon__block {
        width: 14px;
        height: 14px;

        margin-bottom: 0;
    }
    .news-timeline-baner.about-archive-news-page .news-timeline-baner__img {
        width: 100%;
        height: 329px;
    }
    .news-timeline-baner.about-archive-news-page {
        padding: 35px 30px;
        grid-template-columns: 42% 55%;
        grid-column-gap: 28px;
    }
    .short-news__link-baner {
        font-size: 36px;
        line-height: 100%;

        margin-bottom: 16px;
    }
    .short-news__link-baner-subtitle {
        margin-bottom: 50px;
    }
    .short-news__lists.exhibition-one-doc-page {
        grid-template-columns: repeat(3, 31%);
    }
    .title-page__block.news-item {
        display: flex;
    }
    .short-news__lists.exhibition-one-doc-page > .short-news__item.news-item {
        padding: 0px 0px 5px 16px;
        background: none;
        border-top: none;

        margin-bottom: 40px;
        border-left: 1px solid var(--grey-blue-2-color);
    }
    .btn-short-news-more__wrapper {
        display: none;
    }
    .showroom-content__article-links {
        margin-bottom: 0;
    }
    .showroom-article-link__tile {
        padding: 25px 30px 25px 80px;
    }
    .link__tile-right {
        padding: 25px 80px 25px 30px;
    }
    .showroom-article-tile__title {
        margin: 20px 0px 0px;
    }
    .showroom-article-tile__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }
    .showroom-article-tile__arrow-right {
        left: initial;
        right: 20px;
    }
    .attention__message {
        padding: 15px 25px;
        border-radius: 4px;
    }
    .readingroom__announcement-wrapper {
        padding: 30px 25px;
    }
    .readingroom-announcement__item,
    .readingroom-announcement__subitem {
        margin-bottom: 12px;
    }
    .readingroom-announcement__sublists {
        margin: 16px 0px;
    }
    .readingrooms-tabs__block {
        margin-bottom: 0px;
    }
    /* readingroom-tab__content-map */
    .readingroom-tab__content-map {
        height: 331px;
    }
    .sidebar-tile__wrapper {
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: 16px;
        justify-content: space-between;
    }
    .sidebar-requests-link__block {
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: 16px;
        justify-content: space-between;
    }
    /* search-funds__block */
    .search-funds__block {
        padding: 50px 0px;
    }
    .search-funds__block.new-arivals-page {
        display: none;
    }
    .search-funds__form,
    .search-documents-form {
        display: flex;
        justify-content: flex-end;
        max-width: none;
        border: none;
        background: none;
    }
    .search-funds__input,
    .search-documents__input {
        max-width: 441px;
        border-radius: 46px;
        background: var(--white-color);
    }
    .search-inventory__form-result {
        flex-direction: row;
    }
    .search-funds__input-result {
        margin-bottom: 0px;
    }
    .search-inventory__form-result > .search-inventory-form-btn__wrapper {
        margin: 0px 0px 0px 30px;
    }
    .search-inventory__input {
        margin-bottom: 0;
    }
    .input__fund-name {
        max-width: 327px;
    }
    .input__fund-number {
        max-width: 230px;
    }
    .year-input__block {
        margin: 0px 28px 0px 0px;
    }
    .search-inventory-form-btn__wrapper {
        margin-top: 30px;
    }
    .requests-search-docs-form__wrapper {
        width: auto;
    }
    .requests-content__title-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .requests-content__title {
        font-size: 36px;
        line-height: 100%;
    }
    .requests-search-documents-form {
        display: flex;
        width: 441px;
        border: none;
        background: none;
    }
    .requests__announcement-wrapper,
    .types-requests-accent-info__block-text {
        padding: 30px 25px;
    }
    .types-requests__title {
        margin-bottom: 20px;
    }
    .types-requests-list {
        margin-bottom: 16px;
    }
    .types-requests__block.requests-paid__block {
        margin-bottom: 30px;
    }
    .showroom-content,
    .readingroom-content,
    .requests-content,
    .prices-work-content {
        width: 100%;
        padding-left: 28px;
        margin-left: 28px;
        border-left: 1px solid var(--grey-blue-2-color);
    }
    .prices-work-tabs__container {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    .showroom__tile {
        margin-bottom: 28px;
    }
    .showroom-tile__img,
    .showroom-tile__date,
    .showroom-tile__title,
    .showroom-tile__subtitle {
        margin-bottom: 0px;
    }
    .showroom-tile__title,
    .showroom-banner__title {
        line-height: 140%;
    }
    .showroom-working-hours__wrapper {
        justify-content: space-between;
    }
    .showroom-working__days {
        margin-right: 0;
    }
    .btn-showroom-banner-more {
        display: block;
    }
    .btn-showroom-tile-more {
        width: 172px;
    }
    .driving-directions__map {
        margin-bottom: 0;
    }

    /* list-donated-funds__block */
    .list-donated-funds__block {
        width: 45%;

        margin-bottom: 0;
    }
    /* info-list-donated-funds__block */
    .info-list-donated-funds__block {
        width: 50%;

        margin-bottom: 0;
    }
    .info-list-donated-funds__wrapper {
        margin-top: 20px;
    }
    /* how-search-metric-books-content__block */
    .how-search-metric-books-content__block {
        width: 1017px;

        margin-right: 40px;
    }
    /*  title-page-block */
    .page__title {
        font-size: 48px;
        line-height: 60px;
    }
    /* .sidebar__block {
        min-width: 260px;
    } */

    /* catalog-parishes */
    .catalog-parishes {
        display: flex;
    }
    .search-parishes-form__block {
        display: block;
    }
    .catalog-parishes-mobile__block {
        display: none;
    }
    .list-parishes__header {
        display: flex;
    }
    .parishes-header__name,
    .parishes-header__parish,
    .parishes-item__name,
    .parishes-item__parish {
        width: 49%;
    }
    .parishes__item {
        flex-direction: row;
    }
    .parishes-item__title {
        display: none;
    }
    .parishes-item__text {
        margin-bottom: 0;
    }
    /* general-metric-books__picture */
    .general-metric-books__picture::after {
        width: 46px;
        height: 46px;
        left: initial;
        right: 30px;
        top: 30px;
        transform: initial;
    }
    /* showroom-sidebar */
    .showroom-sidebar,
    .request-sidebar {
        flex-shrink: 0;
        max-width: 280px;
        width: 100%;
    }
    .showroom__wrapper {
        flex-direction: row;
    }
    .types-requests__wrapper {
        margin-bottom: 0px;
    }
    .working-hours-readingroom__block {
        padding: 0px 0px 40px;

        border-top: none;
    }
    .sidebar-tile,
    .info-announcement__subtitle {
        margin-bottom: 16px;
    }
    .info-announcement__subtitle-wrapper {
        margin-bottom: 40px;
    }
    /* sidebar-right__block */
    .sidebar-right__block {
        padding-left: 40px;
        margin: 0px;
    }
    .sidebar-right__block::before {
        background: var(--grey-blue-2-color);
    }
    .sidebar-funds__link {
        max-width: 300px;
        width: 100%;
        font-size: 14px;

        margin-bottom: 16px;
    }
    .archive-bidding-link__wrapper {
        border-bottom: none;
    }
    .archive-normative-doc__tile,
    .archive-bidding-link__tile {
        width: 100%;
    }
    .archive-normative-doc__tile:last-child {
        margin-bottom: 0px;
    }
    .news-timeline__block.showroom-block,
    .popular-sections-link {
        max-width: 300px;
    }
    .section-block__content {
        flex-direction: row;
    }
    .content__block,
    .content-slider__block {
        margin: 0px 0px 0px 55px;
    }
    .section-title {
        margin-bottom: 12px;
    }
    /* header */
    .header-top {
        background: var(--white-color);
    }
    .header-content {
        background: var(--grey-blue-4-color);
    }
    .header-search__form {
        margin-top: 0;
    }
    .logo-block {
        display: flex;
        align-items: flex-start;
        max-width: 260px;
    }
    .header-content__title {
        margin-bottom: 4px;
    }
    .header-content__subtitle {
        display: block;
    }
    .navbar__burger {
        display: none;
    }
    .header-content__menu {
        display: block;
        width: 100%;
    }
    .hint-text-icon__block {
        display: block;
    }
    /* sidebar__block */
    .sidebar__block::after {
        background: var(--grey-blue-1-color);
    }
    .mob-burger__lists {
        display: none;
    }
    .tabs-block__list {
        position: initial;

        background: none;
        box-shadow: none;

        padding: 0;
        max-width: none;

        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    }
    .archive-tile__title-wrapper,
    .archive-tile__subparagraphs-wrapper {
        align-items: center;
    }
    .thematic-requests-accepted-address__block.signup-appointment {
        grid-template-columns: 56% 40%;
    }
    /* Foundations */

    .info-unique-docs-photo__block {
        width: 170px;
    }
    .foundations-block__info,
    .register-block__info {
        height: 237px;
    }
    /* About the archive */
    .archive-services__lists {
        height: 300px;
    }
    .archive-services__link {
        width: 370px;
    }
    /*  */
    .activity-quote__block {
        max-width: 230px;
    }
    /* search-registers-form */
    .search-registers-form__wrapper {
        flex-direction: row;

        margin-bottom: 50px;
    }
    .search-registers__form {
        display: flex;

        max-width: none;
        border: none;
        background: transparent;
    }
    .search-registers__input {
        max-width: 977px;
        width: 100%;
        height: 100%;
        padding: 14px 24px;

        border-radius: 46px;
        border: 1px solid var(--grey-blue-1-color);
        background: var(--white-color);
    }
    .btn-search-registers {
        position: initial;
        transform: initial;

        margin-left: 16px;
    }
    .search-metric-books__link {
        padding: 14px 0px;
        min-width: 328px;

        text-align: center;
        font-size: 16px;
        font-weight: 600;
        background: var(--white-color);
        border-bottom: none;
        margin: 0px 0px 0px 28px;
    }
    /* pagination-block */
    .pagination-block.desktop {
        display: flex;
    }
    .pagination-block.mobile {
        display: none;
    }
    /* comments-block */
    .comments__wrapper {
        padding: 50px 0px 10px;
    }
    /* inventory-content */
    .inventory-content__wrapper {
        padding: 50px;
    }
    .inventory-content-picture__block {
        padding: 40px 20px 30px;
    }
    .inventory-description-text__wrapper {
        padding: 30px 20px 30px 30px;
    }
    /*  */
    .search-instruction__lists {
        margin: 30px 0px 0px;
    }
    .search-instruction__list {
        flex-direction: row;
        margin-bottom: 30px;
    }
    .search-instruction-title__wrapper {
        margin: 15px 0px 0px 20px;
    }
    .attention-info__block {
        margin-top: 30px;
    }
    .btn-go-search {
        max-width: 257px;
        margin-top: 30px;
    }
    /* foundations-guide-content__block */
    /* sidebar-select-archive block */
    .sidebar-foundations {
        max-width: 300px;
    }
    .sidebar-moscow-archives__block {
        max-width: 260px;
    }
    .about-archive-history-description__wrapper {
        border-bottom: 1px solid var(--grey-blue-2-color);
    }
    .sidebar-foundations::after {
        /* background: var(--grey-blue-2-color); */
    }
    .select-all-funds__title {
        display: block;
    }
    .select-archive-tab-active-value,
    .select-fond-tab-active-value,
    .selected-request-tab-active-value {
        display: none;
    }
    .select-archive__tabs,
    .select-all-funds__tabs,
    .select-request__tabs {
        height: auto;
        overflow: initial;
        background: none;
    }
    .select-archive__tabs.active,
    .select-all-funds__tabs.active,
    .select-request__tabs.active {
        height: auto;
    }
    .select-archive__tab,
    .select-all-funds__tab,
    .select-request__tab {
        padding: 0px;

        margin-bottom: 30px;
    }
    .select-archive__tab.active,
    .select-all-funds__tab.active,
    .select-request__tab.active {
        display: block;
    }
    .select-archive__tab.active::after,
    .select-all-funds__tab.active::after,
    .select-request__tab.active::after {
        display: block;
    }
    .thematic-requests-address__list {
        grid-template-columns: 30% 70%;
    }
    /* archive-tile-description__wrapper */
    .foundations-guide-content__wrapper {
        flex-direction: row;
        border-top: 1px solid var(--grey-blue-2-color);
    }
    .archive-storage-departments-content__wrapper,
    .activity-new-arivals-content__wrapper {
        flex-direction: row;
    }
    .foundations-block__wrapper > .foundations-register__wrapper {
        margin: 100px 0px 0px 0px;
    }
    .foundations-guide-content__wrapper.about-archive-history__wraper .archive-description__tile:first-child {
        border-top: 1px solid var(--grey-blue-2-color);
    }
    .archive-tile-description__wrapper {
        margin-top: 0px;
    }
    .archive-description__tile {
        /* border-left: none; */
    }
    .archive-description__tile:first-child {
        border-top: none;
    }
    /* all-funds-content__wrapper  */
    .all-funds-content__wrapper {
        padding: 55px 0px 0px 28px;
        border-left: 1px solid var(--grey-blue-2-color);
    }
    .archive-storage-departments-content__block {
        margin-left: 56px;
    }
    .new-arivals-content__block {
        margin-left: 28px;
    }

    .archive-departments-content__wrapper,
    .new-arivals-content__wrapper {
        padding: 0px 0px 0px 28px;
        border-left: 1px solid var(--grey-blue-2-color);
    }
    .moscow-archives-content__block {
        margin-bottom: 0;
    }
    .moscow-archives-content__wrapper {
        flex-direction: row;
        border-top: none;
        padding: 0;
    }
    .moscow-archives-description__wrapper {
        padding: 0px 0px 50px 28px;
        border-left: 1px solid var(--grey-blue-2-color);
    }
    .all-funds-content__header {
        align-items: flex-start;
    }
    .all-funds-content__subtitle {
        max-width: 520px;
        margin-bottom: 0;
    }
    .btn-more-ab-departments {
        max-width: 292px;
        margin-top: 30px;
    }
    .btn-go-fund-descriptions {
        max-width: 235px;
    }
    .moscow-archives-description__block {
        margin-left: 56px;
    }
    /* header-submenu */
    .header-submenu {
        display: block;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        min-width: 338px;
        top: -32px;
        left: -31px;
        z-index: 11;

        border-radius: 3px;
        border: 1px solid var(--grey-blue-4-color);
        background: var(--white-color);
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
    .header-menu__list:hover .header-submenu {
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
    }
    .header-submenu__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;

        transition: all ease-in-out 0.2s;
    }
    .header-submenu__list:hover {
        background: var(--dark-blue-2-color);
    }
    .header-submenu__list-title {
        padding: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: var(--dark-blue-3-color);
    }
    .header-submenu__list-title:hover {
        background: transparent;
    }
    .header-submenu__list:hover > .header-submenu__link,
    .header-submenu__list:hover + .header-submenu__list > .header-submenu__link {
        border-top: 1px solid transparent;
    }
    .header-submenu__list:first-child {
        border-top: none;
    }
    .header-submenu__link {
        border-top: 1px solid var(--grey-blue-4-opacity);
        transition: all ease-in-out 0.2s;
    }
    .header-submenu__list:hover .header-submenu__link {
        color: var(--white-color);
    }
    .arrow-menu-content {
        transform: rotate(0);
    }
    .tab-item > .arrow-menu-content {
        right: 20px;
        transform: rotate(90deg);
    }
    .header-submenu__list:hover .arrow-menu-content {
        background: url("../../../img/arrow-right-white.svg") center no-repeat;
    }
    /* sub-submenu */
    .sub-submenu {
        display: block;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 100%;
        background: var(--white-color);
        min-width: 338px;

        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.1);
        transition: all ease-in-out 0.2s;
    }
    .header-submenu > .header-submenu__list:hover .sub-submenu {
        visibility: visible;
        opacity: 1;
        pointer-events: initial;
    }
    .sub-submenu__list {
        padding: 0px 30px;
    }
    .sub-submenu__list:hover {
        background: var(--dark-blue-2-color);
    }

    .sub-submenu__link {
        display: block;
        padding: 20px 0px;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: var(--main-black-color);

        border-top: 1px solid transparent;
    }
    .sub-submenu__list:hover .sub-submenu__link {
        color: var(--white-color);
    }

    /* footer */
    .footer-top__wrapper,
    .footer-bottom__wrapper {
        flex-direction: row;
    }
    .footer-menu__wrapper {
        margin: 0px 0px 0px 55px;
    }
    .footer-menu__lists {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .footer-copyright {
        width: 300px;
    }
    .footer-copyright__text {
        min-width: 260px;
    }
    .footer-contact-info__wrapper {
        margin-left: 55px;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .content__block {
        max-width: 1040px;
    }
    .content-slider__block {
        width: 1040px;
        margin: 0 0 0 55px;
    }
    .accordion-hint-text__block {
        left: -15px;
    }
    .accordion-hint-text__block::after {
        left: 12px;
    }
    /* header */
    .header-content__menu {
        max-width: 1000px;
    }
    /* title-page__block */
    .title-page__block.map-moscow {
        flex-direction: row;
        align-items: center;
    }

    .title-page__block.map-moscow > .page__title {
        margin-bottom: 0px;
    }
    .interactive-map-churches-moscow__wrapper {
        max-width: 380px;
    }
    .archive-history-desc__img {
        max-width: 513px;
        max-height: 360px;
    }
    .sidebar-moscow-archives__block {
        max-width: 300px;
    }
    /* attention-info__description */
    .attention-info__description {
        max-width: 355px;

        margin-bottom: 0;
    }
    .list-donated-funds__block {
        padding-left: 0px;
    }
    /* search-inventory-form__wrapper */
    .search-inventory-form-btn__wrapper {
        margin-top: 0;
    }
    .input__year-from,
    .input__year-before {
        max-width: 134px;
    }
    /* list-donated-funds__block */
    .list-donated-funds__block {
        width: 100%;
        max-width: 390px;
    }
    /* info-list-donated-funds__block */
    .info-list-donated-funds__block {
        width: 100%;
        max-width: 446px;
        padding: 30px;
    }
    .all-funds-content__subtitle {
        max-width: 630px;
    }
    /* archive-storage-departments-content__block  */
    .archive-storage-departments-content__block {
        margin-left: 28px;
    }
    .moscow-archives-description__block {
        margin-left: 28px;
    }
    /* types-documents__wrapper  */
    .types-documents__block {
        width: 63%;
    }
    .where-documents__block {
        width: 34%;
    }
    /* news block */
    .virtual-musem-news__wrapper {
        flex-direction: row;
    }
    .virtual-museum__block {
        justify-content: space-between;
        padding: 30px;
        margin-right: 28px;
    }
    .virtual-museum__menu {
        margin: 0px 24px 0px 0px;
    }
    .virtual-museum__title {
        margin: 30px 0px 40px;
    }
    .news-timeline__block {
        max-width: 330px;
        margin-top: 0px;
    }

    .news-timeline-baner {
        padding: 30px 0px 80px;
    }
    .news-timeline__block.exhibition-one-doc-page,
    .news-timeline__block.about-archive-news-page {
        max-width: none;
    }
    .sidebar-funds__link {
        font-size: 16px;
    }
    /* showroom-sidebar */
    .showroom-sidebar,
    .request-sidebar {
        max-width: 300px;
        width: 100%;
    }
    /* Foundations */

    .info-unique-docs-photo__block {
        width: 211px;
    }
    /* About the archive */
    .about-archive-links__wrapper {
        flex-direction: row;
    }
    .about-archive-link {
        max-width: 235px;
        margin-bottom: 0;
    }
    .archive-services__link {
        width: 440px;
    }
    .how-search-metric-books-content__wrapper,
    .how-search-metric-books-content__wrapper.map-moscow {
        padding: 50px;
    }
    .showroom-banner__block {
        flex-direction: row;
        justify-content: space-between;
    }
    .showroom-banner__img {
        width: 50%;
        height: 428px;

        margin-bottom: 0;
    }
    .showroom-banner__text-content {
        width: 46%;
    }
    .btn-showroom-banner-more {
        margin-top: 50px;
    }
    .thematic-requests-address__list {
        grid-template-columns: 40% 60%;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1430px;
    }
    .content__block {
        max-width: 1040px;
        margin: 0 0 0 55px;
    }
    .content-slider__block {
        width: 1040px;
        margin: 0 0 0 55px;
    }
    /* header */
    .header-content__menu {
        max-width: 1040px;
    }
    .logo-block {
        max-width: 300px;
    }
    /* title-page__block */
    .interactive-map-churches-moscow__wrapper {
        max-width: 448px;
    }
    .all-funds-content__subtitle {
        max-width: 728px;
    }
    /* search-inventory-form__wrapper */
    .input-year-from__wrapper {
        margin-right: 48px;
    }
    .input__year-from,
    .input__year-before {
        max-width: 164px;
    }
    .news-timeline-baner__img {
        width: 686px;
        height: 400px;
    }

    .short-news__lists.exhibition-one-doc-page {
        grid-template-columns: repeat(4, 329px);
    }
    .short-news__link-img {
        width: 312px;
        height: 230px;
        margin-top: 40px;
    }
    /* readingroom-content__tile */
    .readingroom-content__tile {
        margin-bottom: 28px;
    }
    .tile__library {
        width: 448px;

        margin-bottom: 0;
    }
    .readingroom-content__tile-wrapper {
        width: 567px;
    }
    /* types-documents__wrapper  */
    .types-documents__block,
    .where-documents__block {
        width: 100%;
    }
    .types-documents__block {
        max-width: 686px;
    }
    .where-documents__block {
        max-width: 329px;
    }
    /* About the archive */
    .about-archive-structure__info {
        flex-direction: row;
    }
    .about-archive-link {
        max-width: 240px;
    }
    .structural-units__link {
        width: 240px;
        height: 305px;
        padding: 24px;
        cursor: pointer;
        margin-bottom: 0;
    }
    .archive-services__link {
        width: 477px;
    }

    .sidebar__block {
        min-width: 300px;
    }
    .tab-item > .arrow-menu-content {
        right: 20px;
    }
    .activity-quote__block {
        max-width: 270px;
    }
    .showroom-banner__block {
        padding: 35px 28px;
    }
    .showroom-banner__img {
        width: 520px;
    }
    .showroom-banner__text-content {
        width: 45%;
    }
    .article__text-wrapper {
        width: 100%;
        max-width: 567px;
    }
    .showroom-article__text-img {
        width: 447px;
        height: 379px;
        margin: 0;
    }
    .showroom-article-link__tile {
        width: 508px;
        padding: 30px 40px 30px 80px;

        border-radius: 4px;
    }
    .readingroom__tabs {
        grid-template-columns: repeat(3, 329px);
    }
    .sidebar-tile {
        display: flex;
        padding: 25px 40px 25px 25px;
    }
    .thematic-requests-accepted-address__block.signup-appointment {
        grid-template-columns: 54% 42%;
    }
    .thematic-requests-address-map__wrapper.signup-appointment {
        height: 509px;
    }
    .prices-work-tabs__wrapper {
        grid-template-columns: repeat(3, 329px);
    }
}
