:root {
	--white-color: #fff;
	--black-color: #000;
	--main-black-color: #252729;
	--bg-color: #f4f6f9;
	--bg-opacity-1: rgba(244, 246, 249, 0.1);
	--bg-1-color: #f3f6f8;
	--bg-2-color: #c0b8ed;
	--color-gray-2: #4f4f4f;
	--color-gray-3: #333333;
	--blue-color: #2f80ed;
	--light-blue-color: #cfe4ff;
	--grey-blue-1-color: #d7dce2;
	--grey-blue-2-color: #b5b8be;
	--grey-blue-3-color: #828282;
	--grey-blue-4-color: #deecf4;
	--grey-blue-5-color: #bdbdbd;
	--grey-blue-6-color: #8a8d93;
	--red-color: #ee4d52;
	--red-2-color: #de171e;
	--dark-blue-color: #0f3a4c;
	--dark-blue-2-color: #0a4469;
	--dark-blue-3-color: #196698;
	--dark-blue-opacity-2: rgba(10, 68, 105, 0.1);
	--dark-blue-opacity: rgba(15, 58, 76, 0.2);
	--grey-blue-3-opacity: rgba(138, 141, 147, 0.3);
	--grey-blue-4-opacity: rgba(222, 236, 244, 0.5);
	--margin-top-section: 80px;
}
/* d-flex justify-content-between align-items-center */
