.archive-storage-departments-content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.types-documents__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    margin-top: 50px;
}
.props-documents-tile {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 40px 30px;

    border-radius: 4px;
    background: var(--white-color);

    margin-bottom: 30px;
}
.props-documents-tile :last-child {
    margin-bottom: 0;
}
.types-documents__title,
.where-documents__title {
    font-weight: 600;
    font-size: 16px;

    margin-bottom: 12px;
}
.archive-departments-content__wrapper {
    width: 100%;
    height: 100%;
    padding: 30px 0px 0px 0px;
}
.archive-departments__title-text {
    font-weight: 600;
    font-size: 16px;

    padding: 20px 0px;
}
.archive-departments__text {
    margin-bottom: 20px;
}
.btn-go-fund-descriptions {
    padding: 15px 0px;

    margin-top: 10px;
}
/*tab */
.doc-complexes-tab__container {
    width: 100%;

    margin-bottom: 30px;
}
.doc-complexes-tabheader__items {
    display: flex;
    flex-direction: column;
    height: 63px;
    overflow: hidden;

    background: var(--white-color);
    transition: all ease-out 0.2s;
}
.doc-complexes-tabheader__items.active {
    height: 175px;
}
.doc-complexes-tabheader__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-blue-3-color);

    padding-left: 20px;
    padding-bottom: 14px;
    border-bottom: 3px solid transparent;

    cursor: pointer;
}

.doc-complexes-tabheader__item.active {
    color: var(--main-black-color);
    display: none;
}
/* doc-complexes-tabcontent__wrapper */
.doc-complexes-tabcontent__wrapper {
    padding-top: 30px;
}
.doc-complexes-content__wrapper {
    padding: 20px 30px 20px 20px;
    background: var(--white-color);
}
