.news-timeline-baner.about-archive-news-page {
    padding: 15px;
    background: var(--white-color);

    border-top: none;

    margin-bottom: 50px;
}
.news-mark-tab__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.news-mark-tab__wrapper > .news-mark__wrapper {
    margin: 0px 16px 20px 0px;
}

.news-mark-tab__wrapper .news-mark {
    width: auto;
}
.news-timeline-baner.about-archive-news-page .foundations-link {
    margin-top: 50px;
}
