.about-archive-unique-doc-content__block {
    margin-top: 50px;
}
.archive-unique-doc-description__wrapper {
    width: 100%;
    max-width: 924px;
}
/* unique-doc-description__tile */
.unique-doc-description__tile {
    display: grid;

    grid-template-columns: 130px 1fr;
    grid-template-areas:
        "top num"
        "title title"
        "subtitle subtitle";

    padding: 25px 0px;
    border-top: 1px solid var(--grey-blue-2-color);
}
.grid-img {
    grid-area: top;
}
.grid-num {
    grid-area: num;
}
.grid-title {
    grid-area: title;
}
.grid-subtitle {
    grid-area: subtitle;
}
/* .unique-doc-tile__img  */
.unique-doc-tile__img {
    width: 103px;
    height: 107px;
}
.unique-doc-tile__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* unique-doc-tile-text__wrapper */
.unique-doc-tile-text__wrapper {
    margin-top: 30px;
}
.unique-doc-tile-number__wrapper {
    display: flex;
    flex-direction: column;
}
.unique-doc-tile__number {
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 15px;
}
.unique-doc-breadcrumbs__link {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: var(--grey-blue-3-color);
}
.unique-doc-tile__title,
.unique-doc-tile__subtitle {
    font-size: 16px;
    font-weight: 600;

    margin-top: 15px;
}
.unique-doc-tile__subtitle {
    font-weight: normal;
}
