.activity-quote__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    padding: 15px 17px;

    font-size: 14px;
    line-height: 18px;
    color: var(--main-black-color);

    background: var(--white-color);

    margin: 4px 0px 16px;
}
.activity-quote__subtitle {
    font-weight: normal;
    color: var(--grey-blue-3-color);
}
.activity-quote__text {
    font-weight: 600;
}

/*content activity*/
.activity-tab__container {
    width: 100%;
}

.activity-tabheader__items {
    display: flex;
    flex-direction: column;
    height: 63px;
    overflow: hidden;

    background: var(--white-color);
    transition: all ease-out 0.2s;
}
.activity-tabheader__items.active {
    height: 175px;
}
.activity-tabheader__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-blue-3-color);

    padding-left: 20px;
    padding-bottom: 14px;
    border-bottom: 3px solid transparent;

    cursor: pointer;
}

.activity-tabheader__item.activity-tabheader__item-active {
    color: var(--red-2-color);
    display: none;
}
/*tab-content*/
.activity-tabcontent {
    padding-top: 50px;
}
.tab-content__wrapper {
    padding: 50px 20px;
    background: var(--white-color);
}
.tab-content__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-info__img {
    flex-shrink: 0;
    width: 160px;
    height: 160px;

    border-radius: 50%;
    overflow: hidden;

    margin-right: 30px;
}
.content-info__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-info__title {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-black-color);

    margin: 30px 0px;
}
.description-info__subtitle {
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-black-color);
}
.tabheader-item-active-value {
    position: relative;
    padding: 22px 30px 22px 20px;

    font-weight: 600;
    font-size: 16px;

    background: var(--white-color);
}
.tabheader-item-active-value::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 8px;
    top: 28px;
    right: 30px;
    background: url("../../../../img/arrow-down-tabs-activity.svg") 0 0 / 100% no-repeat;
    transition: all ease-out 0.2s;
}
.tabheader-item-active-value.active::after {
    transform: rotate(180deg);
}
.show {
    display: block;
}
.hide {
    display: none;
}
.fade {
    animation: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
