.all-funds-content__wrapper {
    width: 100%;
    padding: 30px 0px 0px 0px;
}
.all-funds-content__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all-funds-content__title {
    max-width: 833px;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
}
.all-funds-content__subtitle {
    max-width: 728px;
    width: 100%;
    font-size: 16px;

    margin: 30px 0px;
}
.btn-more-ab-departments {
    max-width: 345px;
    height: 48px;
    font-size: 16px;
}
.serch-funds-field__result {
    padding: 7px 16px;

    border-radius: 25px;
    background: var(--white-color);

    margin-top: 30px;
}
.funds-field__result-amount {
    font-weight: 600;
    margin: 0px 5px;
}
.pagination-block__wrapper {
    padding-left: 28px;
}
.foundations-guide-content__wrapper.about-archive-history__wraper > .pagination-block__wrapper {
    padding-left: 0px;
}
