.breadcrumbs-block {
    display: none;
    margin: 30px 0px;
}

.catalog-block-vector {
    position: absolute;
    width: auto;
    height: 142px;
    right: -350px;
    bottom: -2px;
    z-index: 1;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 0;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}
.breadcrumbs__item:not(:last-of-type)::after {
    content: "/";
    margin: 0 8px;
    color: var(--grey-blue-5-color);
}
.breadcrumbs__link {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-blue-5-color);
}
.breadcrumbs__link:hover {
    color: var(--new-gray-color);
}
.breadcrumbs__link-active {
    color: var(--main-black-color);
}
