.catalog-parishes__wrapper {
    padding-top: 50px;
}
/* catalog-parishes desktop */
.catalog-parishes {
    display: none;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0px;
    border-top: 1px solid var(--grey-blue-1-color);
    border-bottom: 1px solid var(--grey-blue-1-color);
}
.btn-catalog-parishes__all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 13px;
    color: var(--white-color);
    border-radius: 21px;
    background: var(--dark-blue-2-color);
    cursor: pointer;

    margin-right: 70px;
}
.catalog-parishes-tab__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--dark-blue-2-color);

    border-radius: 50%;
    cursor: pointer;
}
.catalog-parishes-tab__item.item__active {
    color: var(--white-color);
    background: var(--dark-blue-2-color);
}
.catalog-parishes-title {
    color: var(--dark-blue-3-color);
}
/* catalog-parishes-mobile__block */
.catalog-parishes-mobile__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0px 15px 24px;

    background: var(--white-color);
}
.selected-section-value__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-section__value {
    padding: 6px 13px;

    color: var(--white-color);

    border-radius: 21px;
    background: var(--dark-blue-2-color);
}
.arrow-next {
    margin-left: 5px;
    padding: 6px 15px;
}
