/* breadcrumbs-block */
@import "./_breadcrumbs-block.css";
@import "./_title-page-block.css";

/* General page */
@import "./_news-block.css";
@import "./_my-family-block.css";
@import "./_foundations-block.css";
@import "./_about-archive-block.css";
@import "./_activity-block.css";
@import "./_useful-links-block.css";

/* Metric books page */
@import "./_search-registers-block.css";
@import "./_search-parishes-form-block.css";
@import "./_catalog-parishes-tabs-block.css";
@import "./_list-parishes-block.css";
@import "./_how-search-metric-books-block.css";
@import "./_general-metric-books-picture-block.css";
@import "./_list-funds-block.css";
@import "./_funds-accordion.css";
@import "./_info-inventory-block.css";
@import "./_pagination-block.css";
@import "./_inventory-content-block.css";
@import "./_comments-block.css";
@import "./_comments-text-block.css";

/* Foundations guide page*/
@import "./_foundations-guide-info-block.css";
@import "./_search-funds-block.css";
@import "./_search-inventory-form-block.css";
@import "./_foundations-guide-content-block.css";
@import "./_all-funds-content-block.css";
@import "./_show-sort-block.css";

/* About the archive page */
@import "./_about-archive-history-description-block.css";
@import "./_moscow-archives-content-block.css";
@import "./_about-archive-unique-doc-content-block.css";
@import "./_about-archive-storage-departments-block.css";
@import "./_about-archive-news-page-block.css";
@import "./_archive-bidding-block.css";
@import "./_about-archive-faq-block.css";

/* Activity page */
@import "./_activity-new-arrivals-block.css";
@import "./_exhibition-one-doc-block.css";

/*Services-prices page*/
@import "./_services-prices-page-block.css";

/* Readingroom page */
@import "./_readingroom-page-block.css";

/* Showroom page */
@import "./_showroom-block.css";
@import "./_showroom-text-page-block.css";

/* Requets page */
@import "./_requests-page-block.css";
@import "./_requests-forms-block.css";
@import "./_how-submit-request-block.css";
@import "./_requests-feedback-form-block.css";

/*Globe*/
.section-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-block__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: var(--margin-top-section);
}
.content__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}
.contnent__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subsection__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    color: var(--main-black-color);
}
