.fuds-accardion__header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 30px;
    cursor: pointer;
}

.funds-accordion-item__icon {
    position: relative;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    order: 2;
    border-radius: 50%;
    background: var(--grey-blue-1-color);

    transition: all ease-in 0.2s;
}
.accordion-icon__line {
    width: 9px;
    height: 1px;
    background: var(--main-black-color);
    transition: all ease-in 0.2s;
}
.accordion-icon__line::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 1px;
    background: var(--main-black-color);
    transform: rotate(90deg);
    transition: all ease-in 0.2s;
}
.funds-accordion-item__icon.active {
    background: var(--dark-blue-2-color);
}
.accordion-icon__line.active {
    background: var(--white-color);
}
.accordion-icon__line.active::after {
    background: var(--white-color);
    transform: rotate(0deg);
}
.fuds-accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.fuds-accordion-item-body-content {
    padding: 30px 20px 30px;
    background: var(--white-color);
}
.fuds-accardion__header.active + .fuds-accordion-item-body {
    max-height: 100%;
    transition: all ease-out 0.3s;
}
.bnt-block-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 345px;
}
.btn-close-fuds-accordion {
    color: var(--dark-blue-2-color);

    margin-top: 20px;
}
