.type-request-block {
    margin-top: 50px;
}
.type-request-block__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    margin-bottom: 40px;
}
.public-services-block__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;

    margin-bottom: 16px;
}
.public-services-block__subtitle {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
}
.public-services-block__subtitle:last-child {
    margin-bottom: 0;
}
.public-services-block__lists {
    margin-bottom: 20px;
}
.public-services-block__list {
    position: relative;
    padding-left: 25px;

    font-size: 16px;
    line-height: 140%;

    margin-bottom: 20px;
}
.public-services-block-list__subtitle-wrapper {
    margin-top: 20px;
}
.public-services-block__list:last-child {
    margin-bottom: 0;
}
.public-services-block__list::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--main-black-color);
}
.list-benefits-citizens {
    margin-bottom: 0px;
}

.thematic-requests-accepted-address__block {
    padding: 50px 0px;
    border-top: 1px solid var(--grey-blue-2-color);
    border-bottom: 1px solid var(--grey-blue-2-color);
}

.thematic-requests-address__list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 48%);

    font-size: 16px;
    line-height: 140%;
    margin-bottom: 30px;
}
.thematic-requests-address__list:last-child {
    margin-bottom: 0;
}
.requests-address__email {
    text-decoration: underline;
    color: var(--main-black-color);
}
.requests-address__tel {
    color: var(--main-black-color);
}
.requests-address__tel-name {
    font-size: 14px;
    color: var(--grey-blue-6-color);
}
.thematic-requests-accepted-address__block.signup-appointment {
    border: none;
    background: var(--white-color);
    padding: 0;

    margin: 0px -15px;
}
.thematic-requests-address-map__wrapper.signup-appointment {
    height: 340px;
}
.thematic-requests__address.signup-appointment {
    padding: 40px 15px;
}
.requests__address-title {
    margin: 0px 0px 50px;
}
