.list-parishes__header {
    display: none;
    justify-content: space-between;
    width: 100%;

    padding: 25px 0px;
}
.parishes-item-header__title {
    font-size: 14px;
    color: var(--grey-blue-3-color);
}
.parishes-item__title {
    margin-bottom: 10px;
}
.parishes-header__name,
.parishes-header__parish,
.parishes-item__name,
.parishes-item__parish {
    width: 100%;

    color: var(--grey-blue-6-color);
}
.parishes__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: 1px solid var(--grey-blue-3-color);
}
.parishes__item:first-child {
    border-top: 1px solid var(--grey-blue-3-color);
}
.parishes-item__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-black-color);
    margin-bottom: 30px;
}
.parishes-item__parish.parishes-item__text {
    margin-bottom: 0;
}
