.metric-books__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
.metric-books__info,
.metric-books__search-info {
    padding: 50px 20px;
}
/*hint-text-icon*/
.hint-text-icon {
    display: flex;
    align-items: center;
}
.hint-text-icon__block {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;

    width: 14px;
    height: 14px;

    margin-left: 8px;
}
.hint-text__block {
    position: absolute;
    visibility: hidden;

    padding: 12px;
    top: 0;
    transform: translateY(calc(-100% - 15px));
    left: -15px;
    width: max-content;

    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: var(--main-black-color);

    background: var(--white-color);
    filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
    opacity: 0;
    transition: opacity ease-out 0.1s;

    z-index: 11;
}
.hint-text__block::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 12px;

    border: 10px solid transparent;
    border-top: 8px solid var(--white-color);
}
.hint-text-icon__block:hover .hint-text__block {
    visibility: visible;
    opacity: 1;
}
/*metric-books__info*/
.metric-books__info {
    background: var(--white-color);
}
.metric-books__title {
    max-width: 245px;
}
.metric-books__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-black-color);
}
.metric-books__current-number,
.metric-books__number-sheets {
    color: var(--red-color);
}
.metric-books__info-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--dark-blue-2-color);

    padding-bottom: 1px;

    border-bottom: 1px solid var(--dark-blue-opacity);
}
/*metric-books__search-info*/
.metric-books__search-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--grey-blue-4-color);
}
.metric-books-search__subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: var(--main-black-color);
}
.metric-books-search__form {
    position: relative;
    width: 100%;
    padding: 16px 155px 16px 24px;

    background: var(--white-color);
    border-radius: 46px;

    margin: 20px 0px 100px;
}
.search-form__field {
    width: 100%;
    height: 100%;
}
.btn-serch-field {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--white-color);

    background: var(--dark-blue-2-color);
    border-radius: 46px;
}
.btn-metric-books-search {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 100%;
    top: calc(100% + 20px);
    left: 0;
    padding: 14px 47px;
}
