/*  */
.readingroom-content__announcement {
    margin-bottom: 100px;
}
.attention__message {
    padding: 25px 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--bg-color);

    border-radius: 2px;
    background: var(--dark-blue-2-color);
}
.readingroom__announcement-wrapper {
    padding: 25px 20px;

    border-radius: 0px 0px 4px 4px;

    background: var(--white-color);
}
/* readingroom-announcement__lists */
.readingroom-announcement__lists {
    list-style: none;
    counter-reset: myCounter;
}
.readingroom-announcement__item {
    position: relative;
    padding-left: 16px;

    font-size: 16px;
    color: var(--black-color);

    margin-bottom: 16px;
}
.readingroom-announcement__item:before {
    position: absolute;
    left: 0;
    top: -2px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    counter-increment: myCounter;
    content: counter(myCounter) ".";
    color: var(--black-color);
}
.readingroom-announcement__item:last-child {
    margin-bottom: 0;
}
/* readingroom-announcement__sublists */
.readingroom-announcement__sublists {
    margin: 20px 0px;
}
.readingroom-announcement__subitem {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);

    margin-bottom: 16px;
}
.readingroom-announcement__subitem :last-child {
    margin-bottom: 0;
}
.subitem__footnote {
    font-size: 13px;
    line-height: 16px;
    color: var(--color-gray-2);

    margin-top: 6px;
}
/* readingroom-content-tile__block */
.readingroom-content-tile__block {
    margin-bottom: 100px;
}
/* readingroom-content__tile-wrapper */
.readingroom-content__tile-wrapper {
    display: flex;
    flex-direction: column;
}
.readingroom-content__tile {
    padding: 30px;
    background: var(--white-color);
    cursor: pointer;

    margin-bottom: 20px;
}
.readingroom-content__tile:last-child {
    margin-bottom: 0;
}
.readingroom-tile__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);

    margin-bottom: 20px;
}
/* readingrooms-tabs__block */
.readingrooms-tabs__block {
    margin-bottom: 100px;
}
.readingrooms-text__description {
    font-size: 16px;
    line-height: 140%;
}
.readingroom__tabs {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-between;
    /* grid-column-gap: 28px; */
    margin: 50px 0px;
}
.readingroom__tab {
    display: inline-block;
    padding: 15px 0px;

    max-width: 345px;
    width: 100%;

    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-gray-3);

    border-radius: 4px;
    background: var(--white-color);
    cursor: pointer;

    margin-bottom: 20px;
}

.readingroom__tab:last-child {
    margin-bottom: 0;
}
.readingroom__tab.active {
    color: var(--white-color);
    background: var(--dark-blue-2-color);
}
.readingroom-tab__content-name {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: var(--black-color);

    margin-bottom: 40px;
}
.readingroom-tab__content-address {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);

    margin-bottom: 20px;
}
.readingroom-tab__content-description {
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);

    margin-bottom: 20px;
}
.readingroom-tab__content-description:last-child {
    margin-bottom: 0;
}
/* readingroom-tab__content-map */
.readingroom-tab__content-map {
    margin-top: 50px;
    height: 292px;
}
/* working-hours-readingroom__block  */
.working-hours-readingroom__block {
    padding: 40px 0px;

    border-top: 1px solid var(--grey-blue-2-color);
    border-bottom: 1px solid var(--grey-blue-2-color);
}
.working-hours-readingroom__title {
    margin-bottom: 20px;
}
.working-hours-readingroom__lists {
    max-width: 345px;
    width: 100%;
}
.working-hours-readingroom__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 140%;
    color: var(--black-color);

    margin-bottom: 10px;
}
/* procedure-working-docs__block  */
.procedure-working-docs__block,
.samples-docs__block {
    padding: 40px 0px;

    border-bottom: 1px solid var(--grey-blue-2-color);
}
/* info-announcement__block */
.info-announcement__block {
    padding: 40px 0px;
}
.info-announcement__title {
    margin-bottom: 20px;
}
.info-announcement__subtitle-wrapper {
    margin-bottom: 20px;
}
.info-announcement__subtitle {
    color: var(--grey-blue-6-color);

    margin-bottom: 20px;
}
.info-announcement__subtitle:last-child {
    margin-bottom: 0;
}
