.requests-content {
    width: 100%;
}
.requests-content__announcement {
    margin-bottom: 50px;
}
.requests-content__title-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.requests-content__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;

    margin-bottom: 50px;
}
.requests-search-docs-form__wrapper {
    margin-bottom: 50px;
}

.requests__announcement-wrapper {
    padding: 25px 20px;

    border-radius: 0px 0px 4px 4px;

    background: var(--white-color);
}
/* requests-announcement__subtitle */
.requests-announcement__subtitle {
    font-size: 16px;
    line-height: 140%;
}
/* types-requests__wrapper */

/* types-requests__block */
.types-requests__block {
    margin-bottom: 50px;
}
.types-requests__block:last-child {
    margin-bottom: 0;
}
.types-requests__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;

    margin-bottom: 40px;
}
.types-requests__paid {
    position: relative;
    display: inline-block;
}
.types-requests__paid::after {
    content: "**";
    position: absolute;
    top: 0px;
    right: -25px;
    color: var(--red-color);
}
/* types-requests-list */
.types-requests-list {
    position: relative;
    padding-left: 25px;

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    margin-bottom: 20px;
}
.types-requests-list::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--main-black-color);
}
.types-requests-paid__list {
    font-weight: normal;
    text-decoration: underline;
}

/* ttypes-requests__block-text*/
.types-requests__block-text {
    /* padding-left: 25px; */

    font-weight: normal;
}
.requests-free__subtitle {
    margin-bottom: 20px;
}
.requests-free__subtitle:last-child {
    margin-bottom: 0;
}
/* types-requests-accent-info__block-text */
.types-requests-accent-info__block-text {
    padding: 25px 20px;
    border-radius: 4px;
    background: var(--white-color);

    margin-top: 50px;
}
.types-requests-accent-info__title,
.types-requests-accent-info__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 20px;
}
.types-requests-accent-info__subtitle {
    font-weight: normal;
}
.types-requests-accent-info__subtitle:last-child {
    margin-bottom: 0;
}
.types-requests-accent-info__link {
    color: var(--main-black-color);
    text-decoration: underline;
}
.types-requests__footnote-text {
    color: var(--grey-blue-6-color);
}
