.search-funds__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px 0px 0px;
}
.search-funds__block.new-arivals-page {
    padding: 0px 0px 30px;
}
.search-funds__title {
    flex-shrink: 0;
    font-weight: 600;
    font-size: 24px;
    color: var(--main-black-color);

    margin-bottom: 30px;
}
.search-funds-form__wrapper,
.search-documents-form__wrapper,
.requests-search-docs-form__wrapper {
    width: 100%;
    display: flex;
}

.search-funds__form,
.search-documents-form,
.requests-search-documents-form {
    position: relative;
    max-width: 441px;
    width: 100%;
    height: 50px;

    border-radius: 46px;
    border: 1px solid var(--grey-blue-1-color);
    background: var(--white-color);
}
.search-funds__input,
.search-funds__input-result,
.search-documents__input {
    width: 100%;
    height: 100%;
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 46px;
    border: 1px solid var(--grey-blue-1-color);
}

.search-funds__input-result {
    margin-bottom: 20px;
}
