/*Slider*/
.content-slider__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;

    max-width: 1040px;
    margin-top: 50px;
    /* margin-left: 55px; */
}
.contnent-slider__wrapper {
    width: 1040px;
}
.wrapper-buttons-useful-links {
    position: relative;
    width: 70px;
    height: 20px;

    margin-top: 40px;
    margin-bottom: 10px;
}
.wrapper-buttons-useful-links .swiper-button-next,
.wrapper-buttons-useful-links .swiper-button-prev {
    z-index: 1;
}
.wrapper-buttons-useful-links .swiper-button-next svg,
.wrapper-buttons-useful-links .swiper-button-prev svg {
    width: 14px;
    height: 24px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 0;
    left: auto;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0;
    right: auto;
}
.wrapper-buttons-useful-links .swiper-button-next:after,
.wrapper-buttons-useful-links .swiper-button-prev:after {
    width: 8px;
    height: 13px;
    font-size: 0;
    font-weight: bold;
    color: var(--main-black-color);
}
.useful-links-block__title {
    max-width: 170px;
}
.useful-links__link {
    display: flex;
    align-items: center;
    width: 320px;
    height: 90px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-black-color);

    padding: 17px 20px;

    background: var(--white-color);
    border-radius: 4px;
}
.useful-links-img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: url("../../../../img/useful-links-img/download-book-icon.svg") center no-repeat;
    background-color: var(--bg-color);
    border-radius: 50%;
}
.useful-links-title__wrapper {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}
.useful-links__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-black-color);
}
.useful-links__subtitle {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-blue-3-color);
}
