.header-content {
    padding: 20px 0;

    background: var(--white-color);
}
.header-content__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
.logo-block {
    display: flex;
    align-items: center;
}
.logo-img__block {
    width: 24px;
    height: 28px;
}
.logo-img__block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-content-title__block {
    max-width: 216px;
    margin-left: 16px;
}
.header-content__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* margin-bottom: 4px; */
}
.header-content__subtitle {
    display: none;
    font-size: 12px;
    line-height: 120%;
    color: var(--grey-blue-3-color);
}
/* navbar__burger */
.navbar__burger {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 14px;
    right: 0px;
}
.burger__menu {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 6px;
    background: var(--dark-blue-2-color);
    transition: transform ease 0.1s;
}
.navbar__burger::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 0px;
    background: var(--dark-blue-2-color);
    transition: transform ease 0.2s, 0.2s top ease 0.2s;
}
.navbar__burger::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    background: var(--dark-blue-2-color);
    transition: transform ease 0.2s, 0.2s bottom ease 0.2s;
}
.header-content__menu {
    display: none;
    width: 100%;
    max-width: 860px;
}
/* header-menu  */
.header-menu {
    display: flex;
    justify-content: space-between;
}
.header-menu__list {
    position: relative;
}
.arrow-menu-content {
    width: 7px;
    height: 11px;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: rotate(90deg);
    background: url("../../../img/arrow-right-slide.svg") center no-repeat;
    cursor: pointer;
}
.tab-item > .arrow-menu-content {
    right: 0;
    background: url("../../../img/arrow-right-slide-blue.svg") center no-repeat;
}

body.touch .arrow-menu-content {
    background: url("../../../img/arrow-right-slide-blue.svg") center no-repeat;
}
body.touch .arrow-menu-content.active,
.tab-item > .arrow-menu-content.active {
    transform: rotate(270deg);
}

body.touch .sub-submenu__link {
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--dark-blue-2-color);
}
.header-menu__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--main-black-color);
}
/* header-submenu */
.header-submenu,
.tab-item-submenu {
    display: none;
    position: relative;
    width: 100%;

    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.header-submenu.open,
.tab-item-submenu.open {
    display: block;
}
.header-submenu__list,
.tab-item-submenu__list {
    position: relative;
    padding: 0px 15px;

    transition: all ease-in-out 0.2s;
}

.header-submenu__link,
.tab-item-submenu__link {
    display: block;
    width: 100%;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--main-black-color);

    transition: all ease-in-out 0.2s;
}
.tab-item-submenu__link {
    padding: 10px 8px;
    color: var(--dark-blue-2-color);
}
/* sub-submenu */
.sub-submenu {
    display: none;
    position: relative;
    width: 100%;
    transition: all ease-in-out 0.2s;
}
.header-submenu__list > .arrow-menu-content {
    top: 25px;
}
.sub-submenu.open {
    display: block;
}
