.popup__enter-user {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: flex-end;

    background: rgba(142, 151, 141, 0);
    transition: transform 0.5s ease-in-out 0.1s, background 0.2s ease-in-out 0.1s;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
}
.popup__enter-user.active {
    transform: translateX(0);
    background: rgba(142, 151, 141, 0.8);
    transition: transform ease-in-out 0.5s, background 0.5s ease-in-out 0.3s;
}
.popup__body {
    position: relative;
    max-width: 576px;
    width: 100%;
    padding: 15px;
    overflow-y: auto;

    background: var(--white-color);
}
.popup__enter-user.active > .popup__body {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    transition: 3s box-shadow 0s;
}
.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}
.popup__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: var(--color-gray-3);

    margin-bottom: 50px;
}
.btn-close__mobile-menu.popup-logout {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup-form__block {
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup__form {
    max-width: 448px;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.popup-phorm__input {
    width: 100%;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey-blue-3-color);

    border-radius: 4px;
    background: var(--bg-color);

    margin-bottom: 30px;
}
.popup-input-password {
    padding: 13px 50px 13px 24px;
    margin-bottom: 0;
}
.popup-input-password__wrapper {
    position: relative;

    margin-bottom: 30px;
}
.popup-input-password__wrapper::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    background: url("../../../img/pass-verifi-icon.svg") center no-repeat;
}
.btn-forgot-password {
    width: 100%;
    text-align: right;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey-blue-6-color);
}
.btn-logout {
    max-width: 448px;

    font-size: 16px;
    font-weight: normal;
    line-height: 140%;

    margin: 50px 0px;
}
/* opportunity-register__btn-block */
.opportunity-register__btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.opportunity-register-text,
.btn-opportunity-register {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey-blue-6-color);
}
.btn-opportunity-register {
    color: var(--dark-blue-2-color);
    text-decoration: underline;

    background: transparent;
}
