.popup__register-user {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: flex-end;

    background: rgba(142, 151, 141, 0);
    transition: transform 0.5s ease-in-out 0.1s, background 0.2s ease-in-out 0.1s;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
}
.popup__register-user.active {
    transform: translateX(0);
    background: rgba(142, 151, 141, 0.8);
    transition: transform ease-in-out 0.5s, background 0.5s ease-in-out 0.3s;
}
.popup__register-user.active > .popup__body {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    transition: 3s box-shadow 0s;
}
.btn-register {
    max-width: 448px;

    font-size: 16px;
    font-weight: normal;
    line-height: 140%;

    margin: 50px 0px;
}
.register-form-privacy-policy__agreement-block {
    display: flex;
    margin-top: 30px;
}
