.footer {
    background: var(--white-color);
}
.footer-top__wrapper,
.footer-bottom__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 70px 0px 50px;
}
.footer-bottom__wrapper {
    padding: 50px 0px;

    border-top: 1px solid var(--grey-blue-1-color);
}
.footer-logo-contact__wrapper .logo-block {
    align-items: flex-start;
}
.logo-img__block.footer-logo-block {
    min-width: 60px;
    height: 71px;
}
.footer-logo-contact__wrapper .header-content__title {
    font-size: 22px;
    line-height: 28px;

    margin-bottom: 4px;
}
.footer-logo-contact__wrapper .header-content__subtitle {
    display: block;
}
/*logo & Address block*/
.footer-logo-contact__wrapper {
    min-width: 260px;
}
/* address-block__wrapper */
.address-block__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer-address__block {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--main-black-color);
}
.working-days-hours__block {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--grey-blue-3-color);

    margin: 4px 0px 17px;
}
.btn-contact-us {
    display: inline-block;
    padding: 13px 31px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: var(--white-color);

    background: var(--dark-blue-2-color);
    border-radius: 82px;
    cursor: pointer;
}

/*Footer menu block*/
.footer-menu__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
}
.footer-menu__lists {
    max-width: 140px;
    width: 100%;
    margin-top: 50px;
}
.footer-menu__lists:last-child {
    order: 5;
}
.footer-menu__item {
    margin-bottom: 12px;
}
.footer-menu__item:last-child {
    margin-bottom: 0;
}
.footer-menu__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-black-color);

    margin-bottom: 16px;
}
.footer-menu__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--main-black-color);
}
/*footer-copyright*/
.footer-copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: var(--grey-blue-3-color);

    margin-bottom: 30px;
}

/*Footer contact-info block*/
.footer-contact-info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1040px;
}
/*Author-link text*/
.footer-author-link {
    max-width: 250px;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;

    color: var(--grey-blue-3-color);
}

/*Email block*/
.footer-contact__email {
    display: flex;
    flex-direction: column;

    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: var(--grey-blue-3-color);

    margin: 30px 0px;
}
.footer__email {
    color: var(--dark-blue-2-color);
    text-decoration: underline;

    margin-bottom: 4px;
}

/*Phone block*/
.footer-contact__phone {
    display: flex;
    flex-direction: column;

    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: var(--grey-blue-3-color);

    margin-bottom: 30px;
}
.footer__tel {
    font-size: 16px;
    color: var(--main-black-color);

    margin-bottom: 4px;
}

/*Btn Found a bug*/
.btn-found-bug {
    display: inline-block;
    width: 100%;
    max-width: 345px;
    padding: 13px 0px;

    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: var(--main-black-color);

    border: 1px solid var(--dark-blue-2-color);
    border-radius: 82px;
    cursor: pointer;
}
